.usersPage {
  width: 680px;
  padding: 16px;
  /* margin: 0 auto; */
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 16px;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid aliceblue;
}

.pageLinks {
  padding-bottom: 12px;
}
.pageNumber {
  cursor: pointer;
  font-size: 0.9em;
  padding: 0 4px;
}

.selected {
  cursor: default;
  font-weight: bold;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.rightSide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  color: hsl(210, 25%, 66%);
}

.leftSide button {
  cursor: pointer;
  width: 80px;
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid hsl(218, 60%, 60%);
  background-color: hsl(218, 92%, 95%);
  color: hsl(218, 60%, 40%);
}
.leftSide button:disabled {
  cursor: default;
  border: 1px solid hsl(218, 30%, 60%);
  background-color: hsl(218, 82%, 85%);
  color: hsl(218, 30%, 60%);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}
.name {
  font-size: 1.25em;
  font-weight: bold;
}
.email {
  font-size: 0.9em;
  font-style: italic;
}
.status {
  font-size: 0.9em;
  font-style: italic;
  word-wrap: break-word;
  /* word-break: break-all; */
}
.status::before,
.status::after {
  content: '"';
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
