.header {
  grid-area: h;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
}

.header img {
  height: 52px;
  padding: 4px 16px;
}

.headName {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  color: midnightblue;
}

.loginBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.loginBlock a {
  color: midnightblue;
  text-decoration: none;
}
.loginBlock button {
  padding: 4px 8px;
  border-radius: 4px;
}
