.nav {
  grid-area: n;
  background-color: burlywood;
}

.menu {
  margin: 16px;
}

.item,
.link {
  font-size: large;
  color: maroon;
}
.item a {
  display: block;
  text-decoration: none;
  padding: 2px 8px;
}
.item a:hover {
  background-color: hsl(34, 60%, 75%);
}

.active {
  color: red;
}
