.profileInfo {
  display: block;
}

.cover img {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 16px;
  position: relative;
  top: -80px;
  margin-bottom: -80px;
}
.avatarBlock {
  display: flex;
  margin: 10px;
  padding: 4px;
  border: 2px solid aliceblue;
  background-color: #c3d7f0;
}
.avatar {
  width: 300px;
  height: 300px;
  color: hsl(210, 25%, 66%);
}

.descriptionBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  gap: 16px;
  /* padding: 10px; */
}
.infoBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
.statusBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}
.contactsBlock {
  flex-shrink: 0;
  padding-right: 16px;
}
.contactsBlock *,
.contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  font-size: 0.75em;
  margin-bottom: 0.25em;
  word-break: keep-all;
  word-wrap: normal;
}
.contactsBlock *::before {
  display: inline-block;
  font-family: "Font Awesome 5 Brands";
  font-size: 1.2em;
}

.facebook::before {
  content: '\f09a';
}
.website::before {
  content: '\e078';
}
.vk::before {
  content: '\f189';
}
.twitter::before {
  content: '\f099';
}
.instagram::before {
  content: '\f16d';
}
.youtube::before {
  content: "\f167";
}
.github::before {
  content: "\f09b";
}
.mainLink::before {
  content: '\f08c';
}

.name {
  font-size: 2em;
  font-weight: bold;
  margin-top: 100px;
}
.userId {
  display: none;
}

.status {
  font-size: 1em;
  font-style: italic;
  word-wrap: break-word;
  /* word-break: break-all; */
}
.status::before,
.status::after {
  content: '"';
}

.job {
  margin-top: 24px;
}
.jobDesc {
  font-style: italic;
  word-wrap: break-word;
}
.jobDesc::before,
.jobDesc::after {
  content: '"';
}
