.dialogsBlock {
  display: grid;
  grid-template-columns: 3fr 9fr;
  padding: 16px;
  gap: 16px;
}

.dialogs {
  background-color: transparent;
}
.dialogs a {
  text-decoration: none;
}

.dialogs,
.link {
  color: darkblue;
}

.active {
  color: red;
}
.dialog a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 8px;
  gap: 8px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.name {
  display: inline-block;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}

.message {
  margin: 2px;
  padding: 8px 16px;
  max-width: 75%;
  width: fit-content;
  border-radius: 16px;
  background-color: whitesmoke;
  color: navy;
}
.left {
  align-self: flex-start;
  border-bottom-left-radius: 0px;
}
.right {
  align-self: flex-end;
  border-bottom-right-radius: 0px;
}
.newMessage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 8px 0;
}
.newMessage textarea {
  margin: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  min-height: 48px;
  width: 100%;
}
.newMessage button {
  margin: 8px;
  padding: 8px 16px;
  width: fit-content;
  border-radius: 8px;
}
